.team_block {
  width: 600px;
  height: auto;
  flex-shrink: 0;
  background: rgba(239, 232, 221, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 27.5px 47.5px;
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 18px;
  z-index: 2;
}