.contacts_info {
  display: flex;
  flex-direction: column;
  width: 333.46px;
  height: 139px;
  align-items: center;
}

.contacts_item {
  display: flex;
  align-items: center;
  width: 190px;
  padding: 5px 0;
}

.icon {
  margin-right: 15px;
  width: 18px;
}

.contacts_icon {
  display: flex;
  gap: 35px;
  width: 15px;
  justify-content: center;
  margin-top: 30px;
}

.icon_cont {
  width: 20px;
  cursor: pointer;
}