.text_ref {
  text-align: center;
}

.title_ref {
  font-family: "Cormorant", serif;
  font-size: 53px;
  color: #BB9D8E;
  font-weight: 600;
}

.subtitle_ref {
  font-family: "Lato", serif;
  font-size: 19px;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 80px;
}0000;
  font-weight: lighter;
  font-family: "Lato", serif;
}