#team {
    scroll-margin-top: -60px;
}

#services {
    scroll-margin-top: -140px;
}

#reference {
    scroll-margin-top: -90px;
}

#our_weddings {
    scroll-margin-top: -10px;
}

#contact {
    scroll-margin-top: -80px;
}

@media (max-width: 1024px) {
#team {
        scroll-margin-top: 120px;
    }

    #services {
        scroll-margin-top: 140px;
    }

    #reference {
        scroll-margin-top: 190px;
    }

    #our_weddings {
        scroll-margin-top: 220px;
    }

    #contact {
        scroll-margin-top: 300px;
    }
}

@media (max-width: 912px) {
    #team {
        scroll-margin-top: 120px;
    }

    #services {
        scroll-margin-top: -100px;
    }

    #reference {
        scroll-margin-top: 190px;
    }

    #our_weddings {
        scroll-margin-top: 220px;
    }

    #contact {
        scroll-margin-top: 190px;
    }
}

@media (max-width: 480px) {
    #team {
        scroll-margin-top: 120px;
    }

    #services {
        scroll-margin-top: -100px;
    }

    #reference {
        scroll-margin-top: 130px;
    }

    #our_weddings {
        scroll-margin-top: -60px;
    }

    #contact {
        scroll-margin-top: 50px;
    }
}

@media (max-width: 380px) {
    #team {
        scroll-margin-top: 30px;
    }

    #services {
        scroll-margin-top: -120px;
    }

    #reference {
        scroll-margin-top: -30px;
    }

    #our_weddings {
        scroll-margin-top: -60px;
    }

    #contact {
        scroll-margin-top: 50px;
    }
}


