@use "../../../base/root" as *;
@use "../../../base/mixins" as *;

.button_plan {
    margin: 0 auto;
}

.button_pl {
    @include flex_row_center;
    width: 335px;
    height: 63px;
    background-color: #ffffff;
    color: #75422E;
    padding: 8px 20px;
    font-family: $font_fam_button;
    font-size: $font_size_subtitle;
    font-weight: $font_weight_xxl;
    border: 1px solid #75422E;
    border-radius: $border_radius_m;
    box-shadow: 6px 8px 30px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-top: 80px;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 20;
    position: relative;
}

.button_pl:hover {
    transform: scale(1.03);
}

@media (max-width: 702px) {
    .button_pl {
    width: 250px;
    height: 55px;
    font-size: 13px;
}
}

@media (max-width: 528px) {
    .button_pl {
        width: 230px;
        height: 50px;
        font-size: 12px;
    }
}