@use "../../../../base/root" as *;

.subtitle_plan {
    font-family: $font_fam_subtitle;
    font-size: $font_size_subtitle_s;
    font-weight: $font_weight_m;
}

@media (max-width: 1024px) {
    .subtitle_plan {
        width: 400px;
    }
}

@media (max-width: 920px) {
    .subtitle_plan {
        width: 300px;
        font-size: 15px;
    }
}

@media (max-width: 702px) {
    .subtitle_plan {
        width: 200px;
        font-size: 12px;
    }
}

@media (max-width: 528px) {
    .subtitle_plan {
        width: 320px;
        font-size: 16px;
    }
}