@use "../../../base/root" as *;

header {
    position: $position_rel;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 2;

}

.header_container {
    display: flex;
    align-items: center; 
    height: 100%;
    width: 100%;
}