@use "../../../base/root" as *;

.logo_header {
    position: $position_abs;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    
}

@media (min-width:580px) and (max-width: 700px) {
    .logo_header {
width: 120px;
height: 58px;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    .logo_header {
        width: 110px;
        height: 52px;
    }
}

@media (max-width: 320px) {
    .logo_header {
        width: 100px;
        height: 50px;
    }
}