@use "../../../base/root"  as *;

.nav_header {
    position: static;
    display: flex;
    gap: 20px;
    margin: 25px auto 0 auto;

}

a {
    text-decoration: none;
    color: $color_white;
    font-family: $font_fam_subtitle;
    font-weight: $font_weight_m;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

a:hover {
    transform: scale(1.06)
}