@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex_row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}















