                //Базовые шрифты//

$font_fam_title: "Cormorant",
serif;
$font_fam_title_two:  "Lato",
serif;
$font_fam_subtitle:"Lato",
serif;
$font_fam_button: "Lato",
serif;



                //Базовые размеры текстов//

$font_size_title: 53px;
$font_size_title_s: 21px;
$font_size_subtitle: 19px;
$font_size_subtitle_s: 16px;
$font_size_base: 18px;



                //Базовые Border-radius//

$border_radius_xl: 20px;
$border_radius_m: 10px;
$border_radius_s: 5px;



                //Базовые цвета текстов//

$color_white: #ffffff;
$color_black: #000000;
$color_title: #BB9D8E;
$color_text_button: #75422E;



                //Жирность текста//

$font_weight_xs: lighter;
$font_weight_s: 200;
$font_weight_m: 300;
$font_weight_l: 400;
$font_weight_xl: 600;
$font_weight_xxl: bold;



                //Позиционироавание//

$position_rel: relative;
$position_abs: absolute;
$position_fix: fixed;



                // Базовые Gap//

$gap_xxs: 5px;
$gap_xs: 10px;
$gap_s: 15px;
$gap_m: 20px;
$gap_l: 25px;
$gap_xl: 30px;
$gap_2xl: 35px;
$gap_3xl: 40px;



