@use "../../../base/root" as *;
@use "../../../base/mixins" as *;

.blocks_field {
    display: flex;
    gap: $gap_m;
    max-width: 687px;
    width: 100%;
    margin: 0 auto;
}

.block {
    @include flex-column;
    flex: 1;
    min-width: 0;

}

.block_text_field {
    @include flex-column;
    padding-top: 7px;
    max-width: 687px;
    width: 100%;
}

.block input {
    width: 100%;
    height: 40px;
    display: flex;
    gap: $gap_m;
    padding: 15px;
    border: 1px solid #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    font-size: 16px;
} 


textarea {
    width: 687px;
    height: 200px;
    margin-bottom: 40px;
    padding: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}



label {
    padding-bottom: 5px;
    font-size: $font_size_subtitle;
    font-weight: $font_weight_s;
    font-family: $font_fam_subtitle;
}


@media (max-width: 1190px) {
    .blocks_field {
        padding-top: 50px;
    }
}


@media (max-width: 768px) {
    .blocks_field {
        width: 100%;    
    }

    textarea{
        max-width: 687px;
        width: 100%;
    }

    label {
        font-size: 17px;
    }
}
