@use "../../../base/root" as *;
@use "../../../base/mixins" as *;


.team_title {
    @include flex_row_center;
    padding-top: 72px;
    font-size: $font_size_title;
    color: $color_title;
    font-family: $font_fam_title;
    line-height: 65px;
    margin-bottom: 88px;
}


@media (max-width: 1190px) {
    .team_title {
        font-size: 50px;
    }
}

@media (max-width: 1024px) {
    .team_title {
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    .team_title {
        font-size: 42px;
    }
}

@media (max-width: 480px) {
    .team_title {
        font-size: 38px;
        margin: 22px;
        padding: 0;
    }
}

@media (max-width: 320px) {
    .team_title {
        font-size: 32px;
    }
}


