@use "../../../base/root" as *;
@use "../../../base/mixins" as *;

.hero_content {
    @include flex-column;
    padding: 27px 89px;
    gap: $gap_xs;
    position: $position_abs;
    top: 250px;
    height: auto;
    box-sizing: border-box;
    width: 950px;
    left: 12%;
    background: linear-gradient(180deg, #9A8477 0%,rgba(115, 115, 115, 0) 100%);
    border-radius: $border_radius_xl;
}

.hero_title {
height: 73px;
font-size: 60px;
font-family: $font_fam_title;
font-weight: $font_weight_xl;
color: $color_white;
}

.hero_subtitle {
    width: 595px;
    height: 58px;
    font-size: 18px;
    font-family: $font_fam_subtitle;
    font-weight: $font_weight_m;
    color: $color_white;
    padding-top: 4px;
}

.hero_button {
    @include flex_row_center;
    width: 335px;
    height: 63px;
    background-color: #ffffff;
    color:#75422E;
    padding: 8px 20px;
    font-family: $font_fam_button;
    font-size: $font_size_subtitle;
    font-weight: $font_weight_xxl;
    border: 1px solid #75422E;
    border-radius: $border_radius_m;
    box-shadow: 6px 8px 30px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.hero_button:hover {
    transform: scale(1.03);
}



.gradient {
    position: $position_abs;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 20%,
                rgba(255, 255, 255, 0.4) 40%,
                rgba(255, 255, 255, 0.6) 60%,
                rgba(255, 255, 255, 0.8) 80%,
                rgba(255, 255, 255, 1) 100%,)
}





@media (min-width: 1059px) and (max-width: 1140px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 25px 79px;
    }

    .hero_title {
        font-size: 50px;
        height: auto;
    }

    .hero_button {
        width: 325px;
        height: 60px;
        margin-top: 35px;
        font-size: 17px;
    }
}

@media (min-width: 1009px) and (max-width: 1059px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 23px 69px;
    }

    .hero_title {
        font-size: 45px;
        height: auto;
    }

    .hero_button {
        width: 320px;
        height: 55px;
        margin-top: 30px;
        font-size: 17px;
    }
}

@media (min-width: 941px) and (max-width: 1009px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 21px 59px;
    }

    .hero_title {
        font-size: 40px;
        height: auto;
    }

    .hero_subtitle {
        font-size: 16px;
    }

    .hero_button {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 25px;
    }
}

@media (min-width: 872px) and (max-width: 940px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 19px 49px;
    }

    .hero_title {
        font-size: 38px;
        height: auto;
    }

    .hero_subtitle {
        font-size: 16px;
    }

    .hero_button {
        width: 260px;
        height: 45px;
        font-size: 14px;
        margin-top: 2px;
    }
}

@media (min-width: 750px) and (max-width: 872px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 18px 49px;
    }

    .hero_title {
        font-size: 36px;
        height: auto;
        max-width: 580px;
    }

    .hero_subtitle {
        width: 450px;
        font-size: 14px;
    }

    .hero_button {
        width: 250px;
        height: 40px;
        font-size: 12px;
        margin-top: 15px;
    }
}

@media (min-width: 649px) and (max-width: 750px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 16px 40px;
    }

    .hero_title {
        font-size: 30px;
        height: auto;
    }

    .hero_subtitle {
        width: 400px;
        font-size: 12px;
    }

    .hero_button {
        width: 230px;
        height: 36px;
        font-size: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 468px) and (max-width: 649px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 14px 31px;
    }

    .hero_title {
        font-size: 22px;
        height: auto;
    }

    .hero_subtitle {
        font-size: 12px;
        width: auto;
    }

    .hero_button {
        width: 200px;
        height: 32px;
        font-size: 10px;
        margin-top: 0;
    }
} 


@media (min-width: 320px) and (max-width: 468px) {
    .hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 12px 22px;
    }

    .hero_title {
        font-size: 18px;
        height: auto;
    }

    .hero_subtitle {
        font-size: 10px;
        width: auto;
    }

    .hero_button {
        width: 200px;
        height: 28px;
        font-size: 10px;
        margin-top: 0;
    }

    .hero_img_bg {
        min-height: 50vh;
        background-size: contain;
        background-position: center;
    }
}

@media (max-width: 320px) {
.hero_content {
        left: 42px;
        right: 42px;
        width: auto;
        max-width: none;
        padding: 10px 13px;
    }

    .hero_title {
        font-size: 16px;
        height: auto;
        width: auto;
    }

    .hero_subtitle {
        font-size: 8px;
        width: auto;
    }

    .hero_button {
        width: auto;
        height: 24px;
        font-size: 8px;
        margin-top: 0;
        text-align: center;
    }
}