@use "../../../base/root" as *;

.services {
    padding: 100px 0 150px 0;
    /* нижний отступ больше */
    background: linear-gradient(180deg,
            #ffffff 0%,
            #fef8f3 60%,
            #efe8dd 100%);
            z-index: 1
}