@use "../../../base/root" as *;
@use "../../../base/mixins" as *;

.team_block {
    @include flex_column_center;
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 570px;
    width: 100%;
    max-width: 597px;
    height: auto;
    background: rgba(239, 232, 221, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: $border_radius_xl;
    padding: 27.5px 47.5px;
    font-family: $font_fam_subtitle;
    font-weight: $font_weight_m;
    font-size: $font-size-base;
}

@media (max-width: 1140px) {
    .team_block {
        position: absolute;
        left: 50%;
        top: 235px;
        transform: translateX(-50%);
        width: calc(100% - 32px);
        padding: 18px 16px;
        z-index: 2;
        gap: 22px;
        padding: 24px 44px;
    }
}


@media (max-width: 1024px) {
    .team_block {
        position: absolute;
        left: 50%;
        top: 285px;
        transform: translateX(-50%);
        width: calc(100% - 32px);
        padding: 18px 16px;
        z-index: 2;
        gap: 18px;
        padding: 20px 40px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .team_block {
        position: absolute;
        left: 50%;
        top: 285px;
        transform: translateX(-50%);
        width: calc(100% - 32px);
        padding: 18px 16px;
        z-index: 2;
        gap: 18px;
        padding: 20px 40px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .team_block {
        position: absolute;
        left: 50%;
        top: 123px;
        transform: translateX(-50%);
        width: calc(100% - 96px);
        padding: 16px 36px;
        z-index: 2;
        gap: 14px;
        padding: 12px 36px;
        font-size: 12px;
    }
}


@media (max-width: 320px) {
    .team_block {
        position: absolute;
        left: 50%;
        top: 90px;
        transform: translateX(-50%);
        padding: 18px 16px;
        width: calc(100% - 96px);
        z-index: 2;
        gap: 10px;
        padding: 10px 30px;
        font-size: 12px;
    }
}