@use "../../../base/root" as *;
@use "../../../base/mixins" as *;

.weddings_text {
    @include flex-column;
    text-align: center;
    max-width: 864px;
    width: 100%;
    height: 46px;
    margin: 0 auto;
    gap: $gap_m;
    padding-top: 133px;
}

.weddings_title {
    font-size: $font_size_title;
    color: $color_title;

}

.weddings_subtitle {
    font-size: $font_size_subtitle;
    color: $color_black;
    font-weight: $font_weight_xs;
    font-family: $font_fam_title_two;
}




@media (max-width: 1024px) {
    .weddings_title {
        font-size: 46px;
    }
    .weddings_subtitle {
        font-size: 18px;
        padding: 0 24px;
    }
}


@media (max-width: 768px) {
    .weddings_title {
        font-size: 42px;
    }
    .weddings_subtitle {
        font-size: 16px;
        padding: 0 24px;
    }
}


@media (max-width: 480px) {
    .weddings_title {
        font-size: 38px;
    }
    .weddings_subtitle {
        font-size: 14px;
        padding: 0 24px;
    }
}



@media (max-width: 320px) {
    .weddings_title {
        font-size: 30px;
    }
    .weddings_subtitle {
        font-size: 12px;
        padding: 0 24px;
    }
}